@"
# Virtual environment
env/
venv/
.venv/

# MLflow
mlruns/
mlartifacts/

# Data
data/
*.csv

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# IDE
.vscode/
.idea/
"@ | Out-File -FilePath .gitignore -Encoding utf8